// default content
footer.site-footer {
  margin-top: 1em;
}


// subject_list

table#basic_info {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #8dc73f;
}

table#basic_info td {
  border: 1px solid black;
}
td.basic_title {
  color: white;
  padding-left: 0.5em;
  background: #48851d;
}
td.basic_text {
  background: #e8ebd7;
}

table#details {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid;
  border-collapse: separate;
}

td.det_title {
  background: #8dc73f;
  padding-left: 0.5em;
}

td.det_content {
  background: #e8ebd7;
  padding-bottom: 2em;
}

span.syl_contents {
  font: medium "Meiryo", normal;
}

// subject_list
.filter_title{
  font-weight: bold;
}
.filter_value{
  margin-left: 0.2em;
  margin-right: 1em;
}

tr.subject_header {
  color:White;background-color:#48851d;
}
tr.subject_row:nth-child(even) {
  background-color:White;
}
tr.subject_row:nth-child(odd) {
  background-color:#e6ffc0;
}
td.subjects_cell {
  border-color:#8dc73f;border-width:1px;border-style:solid;
}

.page_number{
  color: #000;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
