---
title: List
layout: default
---

<h3 class="label_filters">{{ page.texts.filters }}</h3>
{% for item in page.filters %}
  <span class="filter_title">{{ item.title }}:</span><span class="filter_value">{{ item.value }}</span>
{% endfor %}

<h3 class="label_results">{{ page.texts.results }}</h3>

<table rules="all" id="rdlGrid_gridList"
  style="color:0;border-color:#8dc73f;border-width:1px;border-style:solid;width:100%;border-collapse:collapse;"
  cellspacing="0" cellpadding="6" bordercolor="#8dc73f" border="1" align="Center">
  <tbody>
    <tr class="subject_header" align="center">
      <td class="subjects_cell">&nbsp;</td>
      <td class="subjects_cell">{{ page.texts.semester }}</td>
      <td class="subjects_cell">{{ page.texts.title }}</td>
      <td class="subjects_cell">{{ page.texts.instructor }}</td>
      <td class="subjects_cell">{{ page.texts.day_period }}</td>
      <td class="subjects_cell">{{ page.texts.year }}</td>
    </tr>
    {% for item in page.subjects %}
      <tr class="subject_row">
        <td class="subjects_cell" align="center">{{ forloop.index }}</td>
        <td class="subjects_cell" align="left">{{ item.semester }}</td>
        <td class="subjects_cell" align="left"><a href="/{{ page.language }}/{{ page.year }}/{{ page.faculty_id }}/{{ item.id }}.html">{{ item.title }}</a></td>
        <td class="subjects_cell" align="left">{{ item.instructor }}</td>
        <td class="subjects_cell" align="left">{{ item.day_period }}</td>
        <td class="subjects_cell" align="left">{{ item.year_start }}～{{ item.year_end }}</td>
      </tr>
    {% endfor %}
    <tr align="center">
      <td colspan="6">
        {% if page.pages.now >= 1 %}
          <a class="page_number" href="/{{ page.language }}/{{ page.year }}/{{ page.faculty_id }}/_page{{ page.pages.now-1 }}.html">{{ page.texts.prev }}</a>
        {% endif %}

        {% for idx in page.pages.indices %}
          {% if idx == page.pages.now %}
            <span class="page_number">{{ idx }}</span>
          {% else %}
            <a class="page_number" href="/{{ page.language }}/{{ page.year }}/{{ page.faculty_id }}/_page{{ idx }}.html">{{ idx }}</a>
          {% endif %}
        {% endfor %}

        {% unless page.pages.maximum %}
          <a class="page_number" href="/{{ page.language }}/{{ page.year }}/{{ page.faculty_id }}/_page{{ page.pages.now+1 }}.html">{{ page.texts.next }}</a>
        {% endunless %}
      </td>
    </tr>
  </tbody>
</table>