---
title: Syllabus Details
layout: default
---

<table id="basic_info" bordercolordark="#006600" bordercolorlight="#8dc73f" rules="all" cellspacing="0" cellpadding="4" border="1">
  <tbody>
    <tr>
      <td colspan="6" id="labelSubjectName" class="basic_title">{{ page.texts.name }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_sbj_name">{{ page.contents.name.ja }}</span>
        &nbsp;
        <span id="Detail_lbl_sbj_name_e">[{{ page.contents.name.en }}]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSbjAreaName">{{ page.texts.category }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_sbj_area_name">{{ page.contents.category }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblReqName">{{ page.texts.requirement }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_req_name">{{ page.contents.requirement }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblCredits">{{ page.texts.credits }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_credits">{{ page.contents.credits }}</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblOrgName">{{ page.texts.department }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_org_name">{{ page.contents.department }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblGradD">{{ page.texts.grades }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_grad_min">{{ page.contents.grades.min }}</span>～<span id="Detail_lbl_grad_max">{{ page.contents.grades.max }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctTermName">{{ page.texts.semester }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_lct_term_name">{{ page.contents.semester }}</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblTypeName">{{ page.texts.course_type }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_type_name">{{ page.contents.course_type }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctReferCd">{{ page.texts.course_code }}</td>
      <td colspan="3" class="basic_text">
        <span id="Detail_lbl_lct_cd">{{ page.contents.course_code }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="basic_title" id="Detail_lblAdminStaffName">{{ page.texts.instructor }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_staff_name">{{ page.contents.instructor.ja }}</span>
        &nbsp;
        <span id="Detail_lbl_staff_name_e">[{{ page.contents.instructor.en }}]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSectionName">{{ page.texts.facility_affiliation }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_section_name">{{ page.contents.facility_affiliation }}</span>
      </td>
      <td class="basic_title">{{ page.texts.office }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_room_name">{{ page.contents.office }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblEMail">{{ page.texts.email }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_e_mail">{{ page.contents.email }}</span>
      </td>
    </tr>
  </tbody>
</table>
<br />
<table id="details" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td class="det_title">{{ page.texts.course_description }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="details_outline" class="syl_contents">{{ page.contents.course_description | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.expected_learning }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_standard" class="syl_contents">{{ page.contents.expected_learning | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.course_schedule }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_schedule" class="syl_contents">{{ page.contents.course_schedule | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.prerequisites }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_requirements" class="syl_contents">{{ page.contents.prerequisites | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.texts_and_materials }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_text_book" class="syl_contents">{{ page.contents.texts_and_materials | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.references }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_reference_book" class="syl_contents">{{ page.contents.references | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.assessment }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_grading" class="syl_contents">{{ page.contents.assessment | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.message_from_instructor }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_something" class="syl_contents">{{ page.contents.message_from_instructor | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.course_keywords }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_keyword" class="syl_contents">{{ page.contents.course_keywords | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.office_hours }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_office_hours" class="syl_contents">{{ page.contents.office_hours | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remarks_1 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note1" class="syl_contents">{{ page.contents.remarks_1 | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remarks_2 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note2" class="syl_contents">{{ page.contents.remarks_2 | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.related_url }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_url" class="syl_contents">{{ page.contents.related_url | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.course_language }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_language_name" class="syl_contents">{{ page.contents.course_language | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.taught_language }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_sbj_name" class="syl_contents">{{ page.contents.taught_language | newline_to_br }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.last_update }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_update_dt" class="syl_contents">{{ page.contents.last_update | newline_to_br }}</span>
      </td>
    </tr>

  </tbody>
</table>