---
title: Home
layout: default
---

<table id="basic_info" bordercolordark="#006600" bordercolorlight="#8dc73f" rules="all" cellspacing="0" cellpadding="4" border="1">
  <tbody>
    <tr>
      <td colspan="6" id="labelSubjectName" class="basic_title">{{ page.texts.subjectname }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_sbj_name">農学部特別講義Ⅱ（農工協働科目）</span>
        &nbsp;&nbsp;
        <span id="Detail_lbl_sbj_name_e">[Special Lecture on Agriculture Ⅱ(Agriculture-Engineering Interdiciplinary Crass)]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSbjAreaName">{{ page.texts.category }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_sbj_area_name"></span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblReqName">{{ page.texts.requirement }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_req_name"></span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblCredits">{{ page.texts.credits }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_credits">1</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblOrgName">{{ page.texts.department }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_org_name"></span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblGradD">{{ page.texts.grades }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_grad_min">3</span>～
        <span id="Detail_lbl_grad_max"></span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctTermName">{{ page.texts.semester }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_lct_term_name">2学期</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblTypeName">{{ page.texts.coursetype }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_type_name"></span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctReferCd">{{ page.texts.courseid }}</td>
      <td colspan="3" class="basic_text">
        <span id="Detail_lbl_lct_cd">01AG7104a</span>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="basic_title" id="Detail_lblAdminStaffName">{{ page.texts.instructor }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_staff_name">安村 友紀</span>
        &nbsp;
        <span id="Detail_lbl_staff_name_e">[YASUMURA Yuki]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSectionName">{{ page.texts.affiliation }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_section_name">グローバル教育院</span>
      </td>
      <td class="basic_title">
        {{ page.texts.office }}
      </td>
      <td class="basic_text">
        <span id="Detail_lbl_room_name">RoomName</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblEMail">
        {{ page.texts.email }}
      </td>
      <td class="basic_text">
        <span id="Detail_lbl_e_mail">EmailAddress</span>
      </td>
    </tr>
  </tbody>
</table>
<br />
<table id="details" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td class="det_title">{{ page.texts.coursedesc }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="details_outline" class="syl_contents">学術分野の枠を越えた協働による学際研究や分野融合は新価値創造の鍵であり、実社会で分野融合研究を実践できる能力や思考力を具備した理系人材への需要は非常に高い。さらに、2015年に国連サミットで採択されたSDGs（持続可能な開発目標）の達成には、科学技術イノベーションの推進が不可欠である（STI for SDGs*）。<br>本科目では、「工学技術を基盤とする生命・農学研究分野の社会実装化に向けて」をテーマに、未開拓な分野で農工の技術を応用し、新しい技術または社会を創り出す学際研究の実践例を学ぶ。そのうえで、SDGsの多くの目標の達成には農学や工学の分野を跨いだ研究と協働が重要であることを踏まえ、異なる学部、学科の学生からなる協働グループを設定し、STI for SDGsの観点から「自分たちなら農工協働で何ができるか」について提案をまとめる。<br>この授業を通して、分野融合への理解を進化させ、研究展開の多様性や新価値創造についての意識を拡げることを目的とする。さらに、学生自身が将来の研究活動を見据えてどのような学びやスキルが必要となるかを考え、3年次以降の学術活動の動機付けとなることを目指す。<br><br>本科目は、教養科目グローバル展開科目群に含まれ、1、2年次の教養科目や専門基礎科目から得た多様な学術分野の知識を実践的に活用する機会を提供する科目として位置付けられる。<br><br>*STI for SDGs：Science, Technology and Innovation for Sustainable Development Goals<br></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.explearning }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_standard" class="syl_contents">１）農学、工学研究の実例から融合研究の意義を学び、それぞれの分野の知識の活用について説明できる。<br>２）分野の異なる学生と協働して課題解決に資する融合研究テーマを提案する中で、それぞれの分野の強みと融合による新規性を説明することができる。<br><br>主な目標：リーダーシップ・調整能力〇、知の開拓能力◎、コミュニケーション〇、課題探求・問題解決〇<br></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.coursesche }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_schedule" class="syl_contents">1回目：新価値創造における鍵としての学際研究と分野融合力に資する能力やスキルについて説明し、「工学技術を基盤とする生命・農学研究分野の社会実装化に向けて」のテーマを概説する。<br>2回目：工学研究院 三沢和彦先生「光融合科学から創生する『命をつなぐ早期診断・予防技術』研究イニシアティブ－物理学が獣医学・農学分野と融合する学術新領域－」<br>(参考URL https://sp.opera.tuat.ac.jp)<br>3回目：農学研究院 桂圭佑先生「開発途上国へのIT農業技術の応用」<br>4回目：卓越リーダー養成機構　澁澤栄先生「データ駆動型農業の可能性と限界」<br>5回目：融合研究の実践のあり方を振り返るグループ学習<br>6回目：SDGsに資する農工融合研究のアイディア創出<br>7回目：農工協働グループによる、課題解決に資する融合研究の提案を作成<br>8回目：農工融合研究の提案発表と質疑応答<br></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.prerequisites }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_requirements" class="syl_contents">授業時間16時間とグループ活動に必要な調査や発表準備などの授業外学習に加え、配布資料を使って本学の標準時間数に準ずる予習・復習を行うこと。</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.txtmats }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_text_book" class="syl_contents">決まったテキストは設定せず、講師が作成した教材を配布する。</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.reference }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_reference_book" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.assessment }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_grading" class="syl_contents">・参加度(30%)：　全授業回を通じて授業内での発言やディスカッションへの貢献<br>・小レポート (30%)：　農工融合研究の中で生かされるそれぞれの分野の知識や技術と、融合させることで創り出される新規性についてのレポート。<br>・グループ演習（40%）：グループ活動への貢献度と発表内容<br></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.messageinst }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_something" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.keywords }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_keyword" class="syl_contents">光融合科学、IT農業技術、農工融合、SDGs</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.officehours }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_office_hours" class="syl_contents">授業前後の休み時間に質問等を受け付ける他、メールまたは面談（メールによる事前連絡が必要）を受け付ける</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remark1 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note1" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remark2 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note2" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.refhomepage }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_url" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.lecturelang }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_language_name" class="syl_contents">日本語</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.langlerne }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_sbj_name" class="syl_contents"></span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.lastupdate }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_update_dt" class="syl_contents">2022/02/05 14:08:53</span>
      </td>
    </tr>

  </tbody>
</table>