---
title: Syllabus Details
layout: default
---

<table id="basic_info" bordercolordark="#006600" bordercolorlight="#8dc73f" rules="all" cellspacing="0" cellpadding="4" border="1">
  <tbody>
    <tr>
      <td colspan="6" id="labelSubjectName" class="basic_title">{{ page.texts.subjectname }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_sbj_name">{{ page.contents.subjectname_jpn }}</span>
        &nbsp;
        <span id="Detail_lbl_sbj_name_e">[{{ page.contents.subjectname_eng }}]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSbjAreaName">{{ page.texts.category }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_sbj_area_name">{{ page.contents.category }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblReqName">{{ page.texts.requirement }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_req_name">{{ page.contents.requirement }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblCredits">{{ page.texts.credits }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_credits">{{ page.contents.credits }}</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblOrgName">{{ page.texts.department }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_org_name">{{ page.contents.department }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblGradD">{{ page.texts.grades }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_grad_min">{{ page.contents.grades_start }}</span>～<span id="Detail_lbl_grad_max">{{ page.contents.grades_end }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctTermName">{{ page.texts.semester }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_lct_term_name">{{ page.contents.semester }}</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblTypeName">{{ page.texts.coursetype }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_type_name">{{ page.contents.coursetype }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblLctReferCd">{{ page.texts.courseid }}</td>
      <td colspan="3" class="basic_text">
        <span id="Detail_lbl_lct_cd">{{ page.contents.courseid }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="basic_title" id="Detail_lblAdminStaffName">{{ page.texts.instructor }}</td>
    </tr>
    <tr>
      <td colspan="6" class="basic_text">
        <span id="Detail_lbl_staff_name">{{ page.contents.instructor_jpn }}</span>
        &nbsp;
        <span id="Detail_lbl_staff_name_e">[{{ page.contents.instructor_eng }}]</span>
      </td>
    </tr>
    <tr>
      <td class="basic_title" id="Detail_lblSectionName">{{ page.texts.affiliation }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_section_name">{{ page.contents.affiliation }}</span>
      </td>
      <td class="basic_title">{{ page.texts.office }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_room_name">{{ page.contents.office }}</span>&nbsp;
      </td>
      <td class="basic_title" id="Detail_lblEMail">{{ page.texts.email }}</td>
      <td class="basic_text">
        <span id="Detail_lbl_e_mail">{{ page.contents.email }}</span>
      </td>
    </tr>
  </tbody>
</table>
<br />
<table id="details" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td class="det_title">{{ page.texts.coursedesc }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="details_outline" class="syl_contents">{{ page.contents.coursedesc }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.explearning }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_standard" class="syl_contents">{{ page.contents.coursedesc }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.coursesche }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_schedule" class="syl_contents">{{ page.contents.coursesche }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.prerequisites }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_requirements" class="syl_contents">{{ page.contents.prerequisites }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.txtmats }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_text_book" class="syl_contents">{{ page.contents.txtmats }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.reference }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_reference_book" class="syl_contents">{{ page.contents.reference }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.assessment }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_grading" class="syl_contents">{{ page.contents.assessment }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.messageinst }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_something" class="syl_contents">{{ page.contents.messageinst }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.keywords }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_keyword" class="syl_contents">{{ page.contents.keywords }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.officehours }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_office_hours" class="syl_contents">{{ page.contents.officehours }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remark1 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note1" class="syl_contents">{{ page.contents.remark1 }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.remark2 }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_note2" class="syl_contents">{{ page.contents.remark2 }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.refhomepage }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_url" class="syl_contents">{{ page.contents.refhomepage }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.lecturelang }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_language_name" class="syl_contents">{{ page.contents.lecturelang }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.langlerne }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_num_sbj_name" class="syl_contents">{{ page.contents.langlerne }}</span>
      </td>
    </tr>
    <tr>
      <td class="det_title">{{ page.texts.lastupdate }}</td>
    </tr>
    <tr>
      <td class="det_content">
        <span id="Detail_lbl_update_dt" class="syl_contents">{{ page.contents.lastupdate }}</span>
      </td>
    </tr>

  </tbody>
</table>